*.sql linguist-detectable=true
*.sql linguist-language=sql
*.sql text

*.xml linguist-detectable=true
*.xml linguist-language=xml
*.xml text

*.env linguist-detectable=true
*.env linguist-language=text
*.env text

*.gradle linguist-detectable=true
*.gradle linguist-language=gradle
*.gradle text

*.md linguist-detectable=true
*.md linguist-language=markdown
*.md text

*.jar linguist-detectable=true
*.jar linguist-language=java
*.jar binary

*.MF linguist-detectable=true
*.MF linguist-language=text
*.MF text
